@media screen and (min-width: 320px) and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .navbar-brand {
        width: 50%;
    }

    h3 {
        line-height: 36px !important;
        font-size: 32px !important;
        margin-bottom: 15px;
    }

    .step-main-form {
        height: auto;
    }

    .step-from__left-side {
        display: none;
    }

    .offcanvas-end {
        width: 100%;
    }

    .navbar-nav {
        gap: 20px !important;
        margin-top: 15px;
        width: 100%;
    }

    .navbar .navbar-nav .nav-link {
        color: var(--text-color) !important;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        border: 1px solid;
        width: 100%;
        margin: 0 auto;
        border-radius: 6px;
        padding: 11px;
    }

    .offcanvas-header {
        justify-content: flex-end !important;
        padding: 25px 43px;
    }

    .offcanvas-header .btn-close {
        font-size: 16px;
        color: var(--text-color);
    }

    .nav-item {
        text-align: center;
        width: 75%;
    }

    .nav-item .takeRisk {
        margin: 0 auto;
        width: 100% !important;
        display: block;

    }

    .sr-step-counter {
        display: flex !important;
    }

    .steplable {
        display: none;
    }

    .step-from-section {
        padding-top: 0;
    }

    .step-from__right-side {
        width: 100%;
    }

    .step-from__right-side .indicator {
        display: none !important;
    }

    .step-from__progress-bar ul {
        min-height: auto !important;
    }

    .step-form__wrapper {
        flex-direction: column;
    }

    .step-form__img {
        width: 50%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .step-form__container {
        width: 100%;
    }

    .step-form__content h2 {
        font-size: 32px !important;
        text-wrap: balance;
    }

    .step-form__option {
        flex-direction: column;
    }

    .step-form__option .button {
        width: 100%;
    }

    .step-form__content {
        padding: 10px 24px;
    }

    .isAllStepsCompleted-content {
        flex-direction: column;
    }

    .isAllStepsCompleted-content__left--wrapper {
        width: 100%;
    }

    .isAllStepsCompleted-content__left .totalScore {
        font-size: 80px;
    }

    .isAllStepsCompleted-content__right--wrapper {
        width: 100%;
        padding: 0;
    }

    .isAllStepsCompleted-content__right h3 {
        font-size: 32px;
        margin-bottom: 15px;
        line-height: 36px;
    }

    .isAllStepsCompleted-content__right {
        padding: 20px;
    }

    #heightSelect,
    #weightSelect {
        width: 100%;
    }

    .tips-btn {
        width: 70%;
        margin-top: 20px;
    }

    .rq-section-results-row {
        margin: 0;
    }

    .rq-section-results-left-box {
        padding: 30px;
        border: 0;
    }

    .rq-section-results-left-box h3 {
        font-size: 32px !important;
        margin-bottom: 15px;

    }

    .rq-section-results-right-box-child {
        padding: 30px;
    }

    .rq-section-results-right-box-child h3 {
        font-size: 32px !important;
    }

    .erbyd {
        flex-direction: column;
        padding: 30px;
    }

    .erbyd h3 {
        width: 100%;
        text-align: center;
    }

    .answers-box {
        padding: 20px 0;
        gap: 30px;
        margin-bottom: 15px;
    }

    .answers-box__icon {
        padding-top: 30px;
    }

    .answers-box__content h3 {
        font-size: 18px !important;
    }

    .answers-box__content h2 {
        font-size: 26px;
    }

    .answers-box__content p {
        font-size: 18px;
    }

    .riskTestPowered {
        flex-direction: column;
        gap: 0;
    }

    .hero-section-box {
        padding: 30px 14px;
        text-align: center;
    }

    .hero-section-box h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 42px;
    }

    .forth-section {
        padding-top: 44px;
    }

    .forth-section h2 {
        font-size: 30px !important;
    }

    .hero-section-wrapper {
        margin: 0 20px;
    }

    .text-logo {
        font-size: 30px;
        line-height: 25px;
    }

    .top-img-svg,
    .bottom-img-svg {
        width: 85%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -20%)
    }

    .second-section {
        padding-top: 40px;
    }

    .second-section-box {
        padding: 30px;
    }

    .bg-url-hp-stat-bg-arrow {
        display: none;
    }

    .third-section {
        padding-bottom: 0;
    }

    .third-section-content {
        width: 100%;
        padding: 0 40px;
    }

    .third-section-content h3 {
        font-size: 160px !important;
        line-height: .46 !important;
        margin-bottom: 50px;
    }

    .third-section-content h4 {
        font-size: 26px;
        line-height: 26px;
    }

    .third-section-content sup {
        font-size: 75px;
        top: -13px;
        right: 42px;
    }

    .reverse-tab-wrapper {
        display: none !important;
    }

    .home-find-a-program-box figure {
        width: 100% !important;
    }

    .home-find-a-program-box figure img {
        width: 60%;
        margin: 0 auto;
    }

    .home-find-a-program-wrapper {
        flex-direction: column-reverse;
    }

    .home-find-a-program-box {
        text-align: center;
        margin-bottom: 50px;
    }

    .explore-health-tips-box {
        padding: 15px;
    }

    .takeRisk {
        width: 100% !important;
        display: block;
    }

    .explore-health-tips-wrapper .col-md-6 {
        margin-bottom: 20px;
    }

    .find-program-third-sub-section {
        padding: 0;
        padding-top: 20px;
    }

    .find-program-hero-box-first h2 {
        font-size: 56px;
        line-height: 47px;
        text-align: center;
    }

    .find-program-hero-box-second {
        display: none;
    }

    .find-program-sub-wrapper {
        margin: 10px;
    }

    .find-program-sub-box {
        border: none;
        border-bottom: 2px solid var(--text-color);
    }

    .find-program-sub-wrapper>.col-md-4:nth-of-type(3) .find-program-sub-box {
        border: none;
    }

    .find-program-third-box-svg {
        top: -413px;
        z-index: -1;
        transform: scale(1.5);
        left: -6%;
    }

    .find-program-third-box h3 {
        font-size: 26px !important;
        text-align: center;
        margin-top: 80px;
        ;
    }

    .find-program-third-box {
        text-align: center;
    }

    .imagine-yourself-box h3,
    .getting-started,
    .question-box h3 {
        font-size: 26px !important;
        text-align: center;
    }

    .imagine-yourself-box {
        width: 300px;
    }

    .imagine-yourself-section iframe {
        height: 250px !important;
    }

    .question-row {
        padding: 30px;
    }

    .question-box-l,
    .question-box {
        padding: 0;
        border: none;
    }

    .question-box h3 {
        text-align: left;
        margin-bottom: 15px;
    }

    .question-box p {
        font-size: 18px;
    }

    .question-box {
        margin-top: 20px;
    }

    .reverse-tab-content-section h2 {
        margin-top: 0 !important;
    }

    .reverse-tab-content-box .seniors-img {
        width: 100%;
    }

    .reverse-tab-content-box p {
        margin-top: 10px;
        padding: 10px 20px;
    }

    .imagine-yourself-section {
        padding-bottom: 20px;
    }

    .reverse-tab-content-box {
        padding: 0 !important;

        margin: 0px 10px 0px 10px;
    }

    .reverse-tab-content-box .seniors-img img {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

    }

    .reverse-tab-content-box .strength {
        padding: 20px 25px;
    }

    .reverse-tab-content-box .col-md-6 {
        padding: 0 !important;
        margin-top: 0 !important;
    }


    .reverse-tab-content-box .strength h3 {
        font-size: 35px;
        text-align: center;
    }

    .strength-ad h3 {
        text-align: left !important;
    }

    .reverse-tab-content-box .strength-ad p {
        text-align: left !important;
    }



    .reverse-tab-content-box .strength p {
        text-align: center;
        padding: 0 !important;
    }

    .reverse-hero-section {
        padding: 30px !important;
    }

    .reverse-hero-section h2 {
        font-size: 56px !important;
        line-height: 47px;
        text-align: center !important;

    }

    .reverse-hero-section h4 {
        font-size: 18px !important;

    }

    .reverse-hero-section .col-md-8 {
        text-align: left !important;
    }

    .reverse-hero-section p {
        font-size: 18px !important;
        text-align: left !important;

    }

    .reverse-hero-row h4,
    .reverse-hero-row p {
        width: 100%;
        text-align: center !important;
    }

    .reverse-tab-content-box figure {
        width: 100%;
    }

    .reverse-hero-section .reverse-hero-row .w-25 {
        width: 50% !important;
    }

    .accordion {
        display: block;
    }

    .prediabetes-box h3 {
        font-size: 26px !important;
    }

    .prediabetes-box {
        width: 100% !important;
    }

    .prediabetes-row {
        padding: 30px 25px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .prediabetes-row h3 {
        font-size: 26px !important;
        text-align: left !important;
        font-family: 'Futura PT' !important;
        width: 80%;
        line-height: 32px !important;
    }

    .prediabetes-row .col-md-6 {
        display: none;
    }

    .prediabetes-three-row .col-md-6 {
        display: none;
    }

    .prediabetes-row-two .col-md-6,
    .prediabetes-three-row-block .col-md-6 {
        display: block !important;
    }

    .prediabetes-three-row {
        padding: 30px 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .prediabetes-three-row h3,
    .prediabetes-three-box h2 {
        font-size: 26px !important;
    }

    .prediabetes-three-box {
        width: 100%;
    }

    .prediabetes-tab-content-section {
        padding-top: 30px;
    }

    .prediabetes-tab-content-box {

        padding: 30px 30px;
    }

    .prediabetes-tab-content-box h3 {
        font-size: 26px !important;

    }

    .prediabetes-three-box-find {
        padding: 0;
    }

    .noopener a img {
        width: 100%;
        height: auto;
    }

    .isAllStepsCompleted-bar {
        padding: 0 18px;
    }

    .isAllStepsCompleted-bar h1 {
        font-size: 18px;
    }

    .isAllStepsCompleted-bar button {
        padding: 8px 20px;
    }

    .erbyd-input-wrapper {
        width: 100%;
        flex-direction: column;
        border: none;
        border-radius: 0;
        gap: 10px;
    }

    .erbyd-input-wrapper input {
        width: 100%;
        overflow: hidden;
        border: 1px solid var(--text-color);
        border-radius: 6px !important;

    }

    .erbyd-input-wrapper button {
        width: 100%;
        border-radius: 6px !important;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .select-dropdown-wrapper {
        display: flex !important;
    }

    .subpageVisit {
        display: flex;
    }
}